@media (min-width: 37.5em) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 20px; /* Add some horizontal padding */
    }
	#menu {
		display: none; /* hide hamburger button */
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}
    main {
        max-width: 1200px; /* Adjust max width as needed */
        grid-template-columns: repeat(3, 1fr); /* Create a 3-column grid */
    }
    main > h2 { 
        grid-column: 1 / -1; /* Make it span the entire width */
        text-align: center;
        margin-bottom: 20px;
    }
    img {
        aspect-ratio: 4/3; /* Maintain a consistent aspect ratio for the images */
        object-fit: cover; /* Ensure images cover the container without distortion */
    }
}